<nb-card>
    <nb-card-header>Department Form</nb-card-header>
    <nb-card-body>
      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)">
          <div class="form-group row" [ngClass]="{'has-error': (!DepartmentCode.valid && DepartmentCode.touched), 'has-success': (DepartmentCode.valid && DepartmentCode.touched)}">
              <label for="inputDepartmentCode" class="col-sm-3 control-label">Department Code</label>
      
              <div class="col-sm-9">
              <input [formControl]="DepartmentCode" type="text" class="form-control" id="inputDepartmentCode" placeholder="Department Code">
              </div>
          </div>
          <div class="form-group row" [ngClass]="{'has-error': (!DepartmentName.valid && DepartmentName.touched), 'has-success': (DepartmentName.valid && DepartmentName.touched)}">
              <label for="inputDepartmentName" class="col-sm-3 control-label">Department Name</label>
      
              <div class="col-sm-9">
              <input [formControl]="DepartmentName" type="text" class="form-control" id="inputDepartmentName" placeholder="Department Name">
              </div>
          </div>
        
        <div class="form-group row">
          <div class="offset-sm-3 col-sm-9">            
            <button [disabled]="!form.valid" type="submit" class="btn btn-success">Save</button>
            <button type="button" class="btn btn-default btn-auth" (click)="goBack()">Go Back</button>
          </div>
        </div>
      </form>
    </nb-card-body>
  </nb-card>